a {
	color: inherit;
}

.site-header {
	height: 5.5em;
	background: #2e3c55;
	text-align: center;
	width: 100%;
	display: flex;
}

.site-header-half {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25em;
}

.logo {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #DCB869;
	text-decoration: none;
}
.company-name {
	border-color: currentColor;
	border-style: solid;
	border-width: 0.15em 0;
	white-space: nowrap;
	line-height: 1.5em;
}

.site-nav {
	background: #dcb869;
	flex-wrap: wrap;
	overflow: hidden;
}

.nav-item {
	padding: 0.5em;
	text-decoration: none;
	position: relative;
}
.nav-item::before, .nav-item::after {
	content: '';
	position: absolute;
	left: 0; right: 0;
	transition: transform 0.4s ease;
	transform: scaleX(0);
	will-change: transform;
	background: #2E3C55;
	height: 1px;
}
.nav-item::before {
	transform-origin: left;
	top: 0;
}
.nav-item::after {
	transform-origin: right;
	bottom: 0;
}
.nav-item:hover::before, .nav-item:hover::after {
	transform: none;
}

@media (max-width: 35rem) {
	.company-name {
		position: absolute;
		background: #2E3C55;
		top: 5.7rem;
		left: 50%;
		padding: 0 0.5em;
		transform: translateX(-50%);

		transition: opacity 0.1s ease, visibility 0.1s ease;
		opacity: 0;
		visibility: hidden;
	}

	.logo:hover .company-name {
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: 17rem) {
	.company-name {display: none}
}