---
layout: compress
permalink: /about/
---
<!doctype html>
<html>
<head>
	{% include head.liquid %}
	{% include loadCSS.html %}
</head>
<body>
	{% include header.liquid %}
	<div id="container">
		<main id="about">
			{% assign sections = site.about | sort: 'order' %}
			{% for section in sections %}
				<section id="{{ section.title | slugify }}" class="project-cover">
					<img src="{{ section.image }}" class="main-img">
					<div class="background">
						<div class="text" style="background:{{ section.tint }}">
							{{ section.content }}
						</div>
					</div>
				</section>
			{% endfor %}
		</main>
	</div>
	<a href="#" class="back-button arrow"></a>
</body>
</html>
