a {
	color: inherit;
}

.site-header {
	height: 5.5em;
	background: #2e3c55;
	display: flex;
}

.site-header-half {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.company-name {
	display: none;
}

.site-nav {
	background: #dcb869;
	flex-wrap: wrap;
	overflow: hidden;
}

.nav-item {
	padding: 0.5em;
}