<header class="site-header" id="main-header">
	<a class="site-header-half logo" href="/">
		<img src="/img/logo/logo.svg" width="80" height="80" alt="">
		<h1 class="company-name">{{ site.title }}</h1>
	</a>
	<nav id="site-header-half main-nav">
		<a class="nav-link" href="/">Work</a>
		<a class="nav-link" href="/about/#vision">About</a>
		<a class="nav-link" href="/about/#contact">Contact</a>
	</nav>
</header>
