<header id="main-header" class="opaque">
		<a id="logo" href="/#home">
			{% include logo.svg %}
			<span id="company-name">OML Contracting Co</span>
		</a>
		<nav id="main-nav">
			<a href="/">Work</a>
			<a href="/about#vision">About</a>
			<a href="/about#contact">Contact</a>
		</nav>
	</header>
