<header class="site-header" id="main-header">
	<a class="site-header-half logo" href="/">
		<img class="logo-img" src="/img/logo/logo.svg" width="80" height="80" alt="">
		<div class="company-name">
			<h1 class="company-title">{{ site.title }}</h1>
			<span class="company-subtitle">{{ site.subtitle }}</span>
		</div>
	</a>
	<nav class="site-header-half main-nav">
		{% for link in site.data.nav %}
			<a class="nav-link" href="{{ link.href }}">{{ link.text }}</a>
		{% endfor %}
	</nav>
</header>
