body {
	margin: 0;
	background-color: #eee;
	font-family: "Titillium Web", sans-serif;
}

a {
	text-decoration: inherit;
	color: inherit;
}

h2 {
	padding-bottom: 0.5em;

	font: {
		size: 1.5em;
		weight: normal;
	}
	border-bottom: 1px solid #2E3C55;
}

// three-d.scss

.threeD {
	perspective: 2px;
	overflow-x: hidden;
	max-height: calc(100vh - 5.5em);

	&::before, &::after {
		display: block;
		content: '';

		height: 10vh;
	}
}

.threeD-floaters {
	display: none;
}

.threeD-cover {
	position: relative;
	display: block;

	transform-style: preserve-3d;
	height: 80vh;
}

.threeD-pane {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.threeD-hero {
	margin: auto;
	z-index: 2;

	max-width: 80vw;
	max-height: 60vh;
}

