.name {
	margin-left: 2rem;
	margin-right: 2rem;
}
h3, p, blockquote {
	margin: 0;
}
p {
	margin-bottom: 1em;
}

.description {
	margin: 1rem 2rem 3rem;
}

.slider-wrapper {
	position: relative;
	background: rgba(255, 255, 255, 0.2);

	&:hover .slide::after,
	&:hover .slide::before {
    opacity: 1;
	}
}

.slider {
  transition: transform .3s ease;
}

.gallery {
	scroll-snap-align: start;
}

.slide {
	position: absolute;
	top: 0;
	width: 90px;
	height: 300px;
	background: rgba(0,0,0,.5);
	cursor: pointer;

	&.back {
		left: 0;
		right: auto;
	}
	&.next {
		right: 0;
		left: auto;
		transform: scaleX(-1);
	}

	&::after, &::before {
    content: "";
    height: 2px;
    width: 24px;
    left: 27px;
    background: #fff;
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease;
	}
	&::before {
		transform: rotateZ(-30deg);
		top: 143px;
	}
	&::after {
		transform: rotateZ(30deg);
		bottom: 143px;
	}
}

.project-slider:hover .slide {
	will-change: opacity;
}
.project-slider:hover .slide {
	will-change: transform;
}

@supports (display: grid) {
	.slider {
		display: grid;
		grid-template-rows: 300px;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		gap: 4px;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		width: 100%;
		transition: none;
	}

	.slide {
		display: none;
	}
}
