$primary-color: #dcb869;
$secondary-color: #2e3c55;

.site-header {
	display: flex;

	text-align: center;
	height: 5.5em;
	width: 100%;

	&-half {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		padding: .25em 1em;
		flex: 1;
	}
}

.logo {
	background: $secondary-color;
	color: $primary-color;
	text-decoration: none;
}
.main-nav {
	background: $primary-color;
	color: #444;
}

.company-name {
	margin-left: 0.25em;

	font-size: 1.5em;
	text-transform: uppercase;
	white-space: nowrap;
}
.company-title {
	margin: 0;

	font-size: 1em;
	border-bottom: currentColor 3px solid;
}
.company-subtitle {
	display: block;

	font-size: 0.7em;
}

$nav-border-height: 1px;
.nav-link {
	margin: 0 0.5em;
	padding: 0 0.5em;
	position: relative;

	border: transparent solid;
	border-width: $nav-border-height 0;
	color: inherit;
	text-decoration: inherit;

	&::before, &::after {
		content: '';
		position: absolute;
		top: -$nav-border-height;
		left: 0;

		background: $secondary-color;
		height: $nav-border-height;
		width: 100%;
		transform: scaleX(0);
		transform-origin: 0;
		transition: transform 0.4s ease;
	}
	&::after {
		top: auto;
		bottom: -$nav-border-height;
		transform-origin: 100%;
	}
	&:hover::before, &:hover::after {
		transform: scaleX(1);
	}
	.main-nav:hover &::before, .main-nav:hover &::after {
		will-change: transform;
	}
}

@media (max-width: 42em) {
	.site-header {
		flex-direction: column;
		
		height: auto;
	}
	.logo {
		flex: 2;
		flex-wrap: nowrap;

		height: 4em;
		font-size: 0.75em;
		overflow: hidden;

		&-img {
			height: 100%;
			width: auto;
		}
	}
}
