$primary-color: #dcb869;
$secondary-color: #2e3c55;

.site-header {
	display: flex;

	text-align: center;
	height: 5.5em;
	width: 100%;
}

.site-header-half {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: .25em 1em;
	flex: 1;
}
.logo {
	background: $secondary-color;
	color: $primary-color;
	text-decoration: none;
}
.main-nav {
	background: $primary-color;
	color: #444;
}

.company-name {
	margin-left: 0.25em;

	font-size: 1.5em;
	text-transform: uppercase;
	border: currentColor solid;
	border-width: 3px 0;
	white-space: nowrap;
}

$nav-border-height: 1px;
.nav-link {
	margin: 0 0.5em;
	padding: 0 0.5em;
	position: relative;

	border: transparent solid;
	border-width: $nav-border-height 0;
	color: inherit;
	text-decoration: inherit;
}
.nav-link::before, .nav-link::after {
	content: '';
	position: absolute;
	top: -$nav-border-height;
	left: 0;

	background: $secondary-color;
	height: $nav-border-height;
	width: 100%;
	transform: scaleX(0);
	transform-origin: 0;
	transition: transform 0.4s ease;
}
.nav-link::after {
	top: auto;
	bottom: -$nav-border-height;
	transform-origin: 100%;
}
.nav-link:hover::before, .nav-link:hover::after {
	transform: scaleX(1);
}
.main-nav:hover .nav-link::before, .main-nav:hover .nav-link::after {
	will-change: transform;
}

@media (max-width: 42em) {
	.site-header {
		flex-direction: column;
	}
	.logo {
		flex: 2;
		flex-wrap: nowrap;

		font-size: 0.75em;
	}
	.logo-img {
		height: 100%;
		width: auto;
	}
}
