/* Moved to base.scss
.threeD {
	perspective: 2px;
	overflow-x: hidden;
	max-height: calc(100vh - 5.5em);
	color: white;
}

.threeD::before,
.threeD::after {
	display: block;
	content: '';

	height: 10vh;
}

.threeD-cover {
	position: relative;
	display: block;

	transform-style: preserve-3d;
	height: 80vh;
}

.threeD-pane {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.threeD-hero {
	margin: auto;
	z-index: 2;

	max-width: 80vw;
	max-height: 60vh;
}
*/
.threeD-label {
	z-index: 3;
	top: auto;
	bottom: 45%;

	text-align: center;
	transform: scale(.85) translateZ(.2px);
}

.threeD-floaters {
	z-index: 4;
	margin: 10vh auto;
	display: block;

	transform: scale(.85) translateZ(.3px);
	transform-style: preserve-3d;
	width: 80vw;
	height: 60vh;
}

.threeD-float {
	position: absolute;
	z-index: 1;

	max-width: 24vw;
	max-height: 25vh;
}
.threeD-top {
	top: -80px;
	left: 30vw;
}
.threeD-left {
	bottom: -100px;
	left: 216px;
	max-height: 28vh;
}
.threeD-right {
	top: 40vh;
	right: 9vw;
}

@media (max-width: 55rem) {
	.threeD-top {
		top: 30vh;
		left: -1vw;
	}
	.threeD-left {
		top: 5vh;
		left: 66vw;
		// bottom: auto;
	}
	.threeD-right {
		// top: 40vh;
		right: 20vw;
	}
}
