.arrow {
	width: 3em; height: 3em;
	margin: auto 0;

	color: white;
	border: 0.125em solid currentColor;

	$arrow-margin: 1em;

	&, &::before {
		display: block;
		position: absolute;
		top: 0; bottom: 0;

		border-radius: 50%;
	}

	&::before {
		content: '';
		width: 100%;

		background: black;
		opacity: 0.5;
	}

	&-left {
		left: $arrow-margin;
	}
	&-right {
		right: $arrow-margin;
		transform: scaleX(-1);
	}
}

.arrow-back {
	z-index: 1;
	bottom: auto;
	will-change: transform;
	transition: transform 0.5s ease;

	&-icon {
		position: absolute;

		text-align: center;
		font-size: 3em;
		line-height: 0.8em;
		width: 100%;
	}

	&:hover {
		transform: rotateZ(360deg);
	}
}

.arrow-lines {
	$angle: 30deg;
	$offset: 1.05em;
	$spinTransition: 0.5s ease;
	$spinToAngle: 180deg - 30deg;

	&::before, &::after {
		content: '';
		display: block;
		position: absolute;

		left: 0.65em;
		width: 1.5em;
		height: 0.125em;
		background: currentColor;
	}

	&::before {
		top: $offset;
		transform: rotateZ(-$angle);

		.arrow-enabled:hover & {
			transition: transform $spinTransition;
			transform: rotate($spinToAngle);
		}
	}

	&::after {
		bottom: $offset;
		transform: rotateZ($angle);

		.arrow-enabled:hover & {
			transition: transform $spinTransition;
			transform: rotate(-$spinToAngle);
		}
	}

	.gallery-image:hover ~ &::before,
	.gallery-image:hover ~ &::after {
		will-change: transform;
	}
}

.arrow-disabled {
	opacity: 0.1;
}

.arrow-enabled {
	cursor: pointer;

	&:active::before {
		opacity: 0.8;
	}
}
