.project-details {
	font-size: 0.75em;
}

h2 {
	padding-bottom: 0.5em;

	font: {
		size: 1.5em;
		weight: normal;
	}
	border-bottom: 1px solid #2E3C55;
}

dt {
	margin-top: 0.5em;

	&::after {
		content: ':';
	}
}

dd {
	margin: 0;
}
