.gallery-item {
	visibility: hidden;
	transition: opacity 0.2s linear, visibility 0.2s linear;
	opacity: 0;
	will-change: opacity;

	.gallery-tab:checked + & {
		visibility: visible;
		opacity: 1;
	}
}

.gallery-image {
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	will-change: transform;

	.gallery-tab:checked ~ .gallery-item & {
		transform: translateX(100%);
	}

	.gallery-tab:checked + .gallery-item & {
		transform: none;
	}
}
