---
layout: compress
title: Commercial Work
---
<html>
<head>
	{% include head.liquid %}
	<style>
		body {
			margin: 0;
			background-color: #eee;
			font-family: "Titillium Web", sans-serif;
		}

		.background,
		aside,
		.arrow,
		article {
			display: none
		}

		.commercial-head {
			text-align: center;
		}

		.slider-wrapper .gallery {
			height: 300px;
			display: inline-block;
			margin: 0;
			overflow: hidden;
			vertical-align: top
		}

		.gallery img { height: 100% }
		.slider { width: 3000px }
		.slider-wrapper { overflow-x: hidden }
	</style>
	{% include head.liquid %}
	<title>{{ page.title }} | {{ site.title }}</title>
	{% include loadCSS.liquid path="/css/commercial.css" inline="css/none.scss" %}
	<script defer async src="slider.js"></script>
</head>
<body>
	{% include header.liquid %}
	<h1 class="commercial-head">Commercial Projects</h1>
	{% for project in site.commercial %}
		<section class="project-slider">
			<h2 class="name">{{ project.title }}</h2>
			<div class="slider-wrapper">
				<div class="slider">
					{% assign folder = project.images.folder %}
					{% for image in project.images.list %}
						<img class="gallery" src="{{ image[0] | prepend: folder }}">
					{% endfor %}
				</div>
				<a class="slide back"></a>
				<a class="slide next"></a>
			</div>
			<div class="description">
				{{ project.content }}
			</div>
		</section>
	{% endfor %}
</body>
</html>
