---
permalink: '/'
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
	<body>
		{% include header.html %}
		<link rel='stylesheet' href='/css/three-d.css'>
		<link rel='stylesheet' href='/css/page-transition.css'>
		<main class='three-d home' id='homepage-main'>
			{% for project in site.posts %}
				<a class='project-3d' href='{{ project.url }}'>
					<img class='project-3d-hero project-3d-pane' alt='{{ project.title }}'
						src='{{project.images.homepage.main | prepend: project.images.folder}}'
					>
					<div class='project-3d-floaters project-3d-pane'>
						<img class='project-3d-float project-3d-top' alt=''
							src='{{project.images.homepage.top | prepend: project.images.folder}}' 
						>
						<img class='project-3d-float project-3d-left' alt=''
							src='{{project.images.homepage.left | prepend: project.images.folder}}' 
						>
						<img class='project-3d-float project-3d-right' alt=''
							src='{{project.images.homepage.right | prepend: project.images.folder}}' 
						>
					</div>
				</a>
			{% endfor %}
		</main>
	</body>
</html>
